<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
        <link rel="stylesheet" type="text/css" href="/css/card.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-tagsinput.css" />
    </header>
    <main>
        <div class="container">
            <div class="row">
                <h2>Profils !</h2>
            </div>
            <div class="row">
                <form method="POST" action="/search" id="searchForm">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Recherche</label>
                        </div>
                        <select class="custom-select" name="recherche">
                            <option value="normal" selected>Normal</option>
                            <option value="avance">Avancé</option>
                        </select> 
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Âge entre</span>
                        </div>
                        <input type="number" name="ageMin" id="ageMin" value="18" min="18" max="99">
                        <span class="input-group-text" id="">et</span>
                        <input type="number" name="ageMax" id="ageMax" value="99" min="18" max="99">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Popularité entre</span>
                        </div>
                        <input type="number" name="populMin" value="0" min="0">
                        <span class="input-group-text" id="">et</span>
                        <input type="number" name="populMax" value="500">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Localisation</label>
                        </div>
                        <input type="text" name="location">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Interêts</label>
                        </div>
                        <input name="tags" type="text" value="" placeholder="Écrivez un hashtag" data-role="tagsinput">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Trier</label>
                        </div>
                        <select class="custom-select" name="tri">
                            <option value=""></option>
                            <option value="age">Âge</option>
                            <option value="location">Localisation</option>
                            <option value="popularite">Popularité</option>
                            <option value="tags">Tags</option>
                        </select> 
                    </div>

                    <input type="submit" data-inline="true" class="btn btn-success" value="Envoyer">
                </form>
            </div>
            <div class="row" id="perfiles">
                <% if (profil) { profil.forEach(function(element){ %>
                <a href="/profile/user/<%= element[1].login %>">
                    <div class="card">
                        <div class="box">
                            <div class="img">
                                <img src="<%= element[1].img0 %>">
                            </div>
                            <h2><span><%= element[1].prenom + " " + element[1].nom %></span><br></h2>
                            <p> <strong>Genre: </strong> <%= element[1].genre %></p>
                            <p> <strong>Âge: </strong> <%= element[1].age %></p>
                            <p> <strong>Orientation: </strong> <%= element[1].orientation %></p>
                            <!-- <p> <strong>Match: </strong> <%= element[0] %></p> -->
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%=element[0]%>%">
                                    <span class="textoCentro"><%=element[0]%>%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                <% });} %>
                </a>
            </div>
        </div>
        <div class="blockFixe">
            <div class="row contenedorChat"></div>
        </div>
        <script src="/js/socketClient.js"></script>
        <script src="/js/bootstrap-tagsinput.js"></script>
        <script src="/js/search.js"></script>
    </main>
    <footer>

    </footer>

</body>
</html>