<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="/css/card.css" />
    </head>
    <header>
            <% include ../partials/header %>
    </header>
    <body>
        <div class="container">
            <div class="row">
                <h2>Ils aiment ton profil !</h2>
            </div>
            <div class="row">
                <% if (miniProfil) { miniProfil.forEach(function(element){ %>
                <a href="/profile/user/<%= element.login %>">
                    <div class="card">
                        <div class="box">
                            <div class="img">
                                <img src="<%= element.img0 %>">
                            </div>
                            <h2><span><%= element.prenom + " " + element.nom %></span><br></h2>
                            <p> <strong>Genre: </strong> <%= element.genre %></p>
                            <p> <strong>Âge: </strong> <%= element.age %></p>
                            <p> <strong>Orientation: </strong> <%= element.orientation %></p>
                        </div>
                    </div>
                <% });} %>
                </a>
            </div>
        </div>
        <div class="blockFixe">
            <div class="row contenedorChat"></div>
        </div>
        <script src="/js/socketClient.js"></script>
    </body>
</html>